:root {
    --azulOscuro: #0F172A;
    --morado: #9266B6;
    --blanco: #FFFFFF;
    --moradoClaro: #E5BDFF;
}

body {
    background-color: var(--azulOscuro);
     
}

.todo {
     background: linear-gradient(
        to right,
        var(--morado) 0%,
        var(--morado) 50%,
        var(--azulOscuro) 50%,
        var(--azulOscuro) 100%)
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: white !important;

}

.navbar-brand {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif !important;
    font-size: 35px !important;
    font-weight: bold !important;
    color: var(--morado) !important;
 -webkit-text-stroke: 1px  var(--azulOscuro);
}

.navbar .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 5px;
    width: 0;
    height: 2px;
    background-color: #9266B6;
    transition: width 0.3s;
}

/* Cuando pasas el mouse */
.navbar .nav-link:hover {
    color: #480083;
}

.navbar .nav-link:hover::after {
    width: 100%;
}
.navbar .nav-link:hover {
    color: #9266B6;
    transform: translateY(-2px);
}

h1 {
    font-family: 'Times New Roman', Times, serif;
    color: var(--blanco);
    text-align: center;
    font-size: 90px;
    font-weight: bold;
}

h2 {
    font-family: 'Times New Roman', Times, serif;
    color: var(--blanco);
    text-align: center;
    font-size: 90px;
    font-weight: bold;
}

.desarrolladora {
    text-align: right;
    color: var(--blanco);
    border: 2px solid var(--morado);
    margin: 100px;
    font-size: 40px;
    width: fit-content;
    padding: 16px;
      background: linear-gradient(
        to right,
        var(--morado) 0%,
        var(--morado) 60%,
        var(--azulOscuro) 50%,
        var(--azulOscuro) 100%)  

}

.containerdesarolladora {
    float: right;
}

/*Sobre mi*/
.imgYTex {
    display: flex;
    width: 100%;
}

.tituloSobreMi {

    font-family: 'Times New Roman', Times, serif;
    color: var(--blanco);
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin: 5%;

}


.texSobreMi {
    width: 50%;
    color: white;
    font-size: 20px;
    line-height: 1.1;
    z-index: 4;
    margin: 9%;
    font-family: unset;

}

.imagenSobreMi {

    top: 150px;
    left: 10%;
    width: 50%;
    height: 330px;
    object-fit: cover;
    border-radius: 35px;
    z-index: 4;
    margin: 9%;

}

/*Proyectos*/
.proyecto {
    background-color: var(--azulOscuro);
}
.tituloproyecto {
    font-family: 'Times New Roman', Times, serif;
    color: var(--blanco);
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin: 5%;

}

.contenedorProyectos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 18rem;
    margin: 20px;
    background-color: #430e67;
    color: #f8f7f7;
    font-family: unset;
    border-radius: 15px;
    overflow: hidden;
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.list-group-item {
    background-color: #9266B6;
    color: rgb(20, 3, 3);
}

.card-link {
    color: #E5BDFF;
    display: flex;
    justify-content: center;
}

.tecnoUsadas{
    display: grid;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    grid-template-columns: repeat(3, 1fr);
    margin: 4%;
}

.tecnoUsadas img {
    width: 55px;
    height: 55px;
    padding: 5px;
    object-fit: contain;
    border-radius: 50%;
    background-color: #9266B6;
     
}

.tecnoUsadas img:hover {
    transform: rotate(360deg) scale(1.15);
}
.botones {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}

.boton {
    text-decoration: none;
    color: white;
    background-color: var(--morado);
    padding: 7px 15px;
    border-radius: 5px;
}

.boton:hover {
    background-color: var(--moradoClaro);
    color: var(--azulOscuro);
}

/*CONTACTOS*/
.titulocontacto {
    font-family: 'Times New Roman', Times, serif;
    color: var(--blanco);
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin: 4%;

}

.info {

    float: right;
    margin: 7%;
    color: white;
    font-size: 30px;
}

.gmail {
    color: #FFFFFF;
}

.redes {
    display: flex;
    gap: 25px;
    margin-top: 40px;


}

.imagenRedes {
    width: 80px;
    height: 80px;
    object-fit: contain;
    border-radius: 40%;

}
.imagenRedes:hover {
    transform: scale(1.15) rotate(5deg);
}

.imgcontactame {


    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    right: 80px;
    bottom: 0;
    z-index: 2;
    margin: 10%;
}

.infoEimag {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
}
/* Skills*/

.skill{
    background-color: #0F172A;
}

.tituloSkills {
    text-align: center;
    color: white;
    font-family: Georgia, serif;
    font-size: 60px;
    margin-bottom: 40px;
}


.imagenes {
    width: 90%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    justify-items: center;
}


/* Círculos */
.imagenes img {
    width: 90px;
    height: 90px;
    padding: 20px;
    object-fit: contain;
    background-color: #f1f1f1;
    border-radius: 50%;
    transition: transform 0.3s;
}


/* Movimiento al pasar el mouse */
.imagenes img:hover {
    transform: translateY(-10px);
}

.separador {
    width: 80%;
    margin: 20px auto;
    border: none;
    border-top: 4px solid #9648d1;
    border-radius: 10px;
   background-color: #0F172A;
}

/* CELULAR */
@media (max-width: 768px) {

 

    /* Inicio */
    h1,
    h2 {
        font-size: 55px;
    }

    .desarrolladora {
        font-size: 22px;
        margin: 40px auto;
    }


    /* Sobre mí */
    .imgYTex {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imagenSobreMi {
        width: 80%;
        height: 250px;
        margin: 30px auto;
    }

    .texytituloSobreMi {
        width: 100%;
    }

    .tituloSobreMi,
    .tituloproyecto,
    .titulocontacto {
        font-size: 45px;
    }

    .texSobreMi {
        width: 80%;
        margin: 20px auto;
        font-size: 17px;
    }


    /* Skills */
    .imagenes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        width: 90%;
    }

    .imagenes img {
        width: 75px;
        height: 75px;
        padding: 15px;
    }


    /* Proyectos */
    .contenedorProyectos {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 85% !important;
        margin: 15px;
    }


    /* Contacto */
    .infoEimag {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .imgcontactame {
        width: 250px;
        height: 250px;
        margin: 20px;
    }

    .info {
        float: none;
        margin: 20px;
        font-size: 18px;
        text-align: center;
    }

    .redes {
        justify-content: center;
        gap: 20px;
        margin-top: 30px;
    }

    .imagenRedes {
        width: 40px;
        height: 40px;
    }

}